html {
  --main-font: roboto, sans-serif;

  --border: #e0e0e0;
  --btn-color: #262626;
  --font-color: #1d1d1d;
  --white: #fff;
  --green: #327430;
  --gray: #757575;
  --light-gray-font: #626262;
  --hover: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  width: 80px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.header {
  height: 72px;
  background: var(--white);
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.header__wrapper {
  width: 956px;
  display: flex;
  justify-content: space-between;
  padding: 17px 0 15px;
}

.uber_link {
  width: 121px;
  height: 13px;
  align-self: center;
}

.header__logo {
  width: 121px;
  height: 13px;
}

.header__input {
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 2px;
}

.header__input::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color);
}

.left_input {
  width: 65px;
  height: 40px;
  padding: 8px 11px;
}

.header__span {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-gray-font);
  margin: 10px 9px;
}

.header__label {
  position: relative;
}

.header__label:before {
  content: url("../img/location.svg");
  position: absolute;
  top: 0;
  left: 12px;
}

.right_input {
  width: 292px;
  height: 40px;
  padding: 8px 68px 8px 36px;
}

.user_opportunities {
  display: flex;
}

.button--black {
  background-color: var(--btn-color);
  color: var(--white);
  margin-left: 16px;
}

.basket {
  width: 19px;
  height: 22px;
  margin: 9px 9px 9px 27px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 71px;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  width: 956px;
  justify-content: center;
}

.search {
  width: 956px;
  height: 79px;
  border: none;
  border-bottom: 1px solid var(--border);
  padding: 30px 0 0 30px;
  box-sizing: border-box;
  outline: none;
}

.search_wrapper {
  position: relative;
}

.search__label {
  margin-top: 73px;
}

.search__label:before {
  content: url("./img/search.svg");
  content: url("./img/search.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 15px;
}

.search__input {
  background: url(./img/search.svg) no-repeat 0px;
  width: 96.862%;
  mix-blend-mode: normal;
  background: url("./img/search.svg") no-repeat 0px;
  background-size: 16px;
  padding: 15px 0px 15px 24px;
  border-bottom: 1px solid rgb(117, 117, 117, 0.3);
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  margin-top: 104px;
}

.search::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--light-gray-font);
  opacity: 0.5;
}

.cards__title {
  font-family: var(--main-font);
  font-size: 22px;
  line-height: 34px;
  color: var(--font-color);
  align-self: flex-start;
  margin: 56px 0 16px;
}

.cards_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 40px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 308px;
  padding: 0 0 21px;
  text-decoration: none;
  flex-wrap: wrap;
}

.card__restaurant {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--font-color);
  margin-top: 16px;
}

.card__category {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 21px;
  color: var(--gray);
  margin: 4px 0;
}

.card__time {
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 21px;
  color: var(--font-color);
}

.footer {
  height: 552px;
  background: var(--btn-color);
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

.footer__wrapper {
  width: 956px;
  margin-top: 50px;
}

.footer__logo {
  width: 192px;
  height: 20px;
}

.footer_line {
  border-bottom: 1px solid #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-top: 4.1841%;
}

.language_icon {
  margin: 0 16px;
}

.language_select {
  background-color: #3B3B3B !important;
  display: flex;
  font-size: 13px;
  color: #FFFFFF;
  width: 227px !important;
  border-radius: 2px;
  border: 0px;
  height: 40px;
  margin-top: 32px;
  background: url(./img/footer_language_icon.svg) 16px no-repeat,
    url(./img/language_arrow.svg) right 8px bottom 16px no-repeat;
  appearance: none;
  padding: 13px 0 12px 48px;
}

@media (min-width: 768px) {
  .language_select {
    width: 73.701%;
  }
}

.footer_social {
  margin-top: 10.7142%;
}

.hashtag {
  color: green;
  font-size: 16px;
}

.footer_ubereats {
  color: white;
  font-size: 16px;
  margin-left: -3px;
}

.social_nets {
  margin-top: 0;
}

.facebook {
  margin-left: 2.5974%;
  margin-right: 2.5974%;
}

.footer_text {
  color: #FFFFFF;
  font-size: 13px;
  margin-bottom: 7%;
  padding: 8px;
}

.text_wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.download_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.1841%;
}

.appstore_button {
  margin-right: 4.1841%;
}

.footer_down_text,
.footer_down_text_privacy {
  display: block;
  color: #FFFFFF;
  font-size: 11px;
  margin-top: 40px;
}

.footer_down_text_privacy {
  margin-left: 50px;
  margin-right: 170px;
}

.tothetop_button {
  width: 64px;
  position: fixed;
  right: 16px;
  bottom: 24px;
  height: 64px;
  background: #59BD5A url(./img/tothetop_arrow.svg) no-repeat center;
}

@media (min-width: 768px) {
  .tothetop_button {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 320px)
main {
    width: 308px;
}

@media (max-width: 768px)
main {
    width: 752px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.inner_text {
  box-sizing: border-box;
  padding-right: 100px;
  padding-left: 8px;
}
